.character-description {
    padding: 10px 10px;
}

.character-description-container {
    max-width: 1200px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 60px;
    padding: 20px 20px;
    font-size: 30px;
}

.character-description-text-container {
    display: flex;
    align-items: center;
    padding: 10px;
    /*font-size: 30px;*/
}


.character-description-text-container:nth-child(1) {
    flex-wrap: wrap;
}

.character-description-text-container div {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.character-description-text-container svg {
    padding: 10px;
    min-width: 30px;
}

.character-description-text-container.sub {
    padding: 5px 0 5px 80px;
}

.character-description-type {
    color: #FFDD14;
    font-weight: 600;
    font-size: 30px;
}

.character-description-text {
    font-family: 'Raleway', sans-serif;
}

.character-description-text-stroke {
    background-image: url(../../../public/images/CharacterDescriptionStroke.svg);
    padding: 23px 18px;
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    margin-left: 50px;
}

.character-description-type .span1 {
    color: white;
}

.character-description-type .span2 {
    color: #B114FF;
}

@media screen and (max-width: 1050px) {
    .character-description-container {
        width: 80%;
    }
}

@media (max-width: 800px) {
    .character-description-container {
        font-size: 20px;
    }

    .character-description-type {
        font-size: 20px;
    }
    .character-description-text-stroke {
        padding: 11px 9px;
    }
}

@media (max-width: 500px) {
    .character-description-container {
        font-size: 18px;
    }

    .character-description-type {
        font-size: 18px;
    }

    .character-description-text-container.sub {
        padding: 5px 0 5px 30px;
    }

    .character-description-text-stroke {
        padding: 9px 9px;
    }
}

@media (max-width: 400px) {
    .character-description-container {
        font-size: 16px;
    }

    .character-description-type {
        font-size: 16px;
    }
    .character-description-text-stroke {
        padding: 6px 9px;
    }
}