@import url('https://fonts.googleapis.com/css2?family=Georama:wght@500&display=swap');

.GameProcessDemo-container {
    display: flex;
    justify-content: center;
    padding: 40px 5px 10px 5px;
    flex-direction: column;
    align-items: center;
    /*width: 95%;*/
}

.GameProcessDemo-image {
    max-width: 1250px;
    width: 100%;
    /*padding: 10px;*/
}

.GameProcessDemo-stroke1 {
    background-image: url(../../../public/images/GameProcessSpan2.svg);
    padding: 23px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

}

.GameProcessDemo-stroke2 {
    background-image: url(../../../public/images/GameProcessSpan1.svg);
    padding: 20px 25px 20px 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    justify-content: center;
}

.GameProcessDemo-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    text-align: center;
    font-family: 'Georama', sans-serif;
    font-style: normal;
    padding:0 10px;
}

.GameProcessDemo-title, .GameProcessDemo-title.sub {
    font-weight: 700;
    font-size: 30px;
    padding: 40px 10px 5px 10px;
    color: white;
    line-height: 149%;
    /* or 45px */
    max-width: 1000px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.GameProcessDemo-title.sub {
    padding: 0px 10px 40px 10px;
}

.GameProcessDemo-text {
    font-weight: 500;
    font-size: 30px;
    color: white;
    line-height: 149%;
    /* or 45px */

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

@media screen and (max-width:1200px){
    .GameProcessDemo-stroke1 {
        padding: 20px 16px 20px 16px;
    }

    .GameProcessDemo-stroke2 {
        padding: 15px 20px 15px 20px;
    }
}

@media screen and (max-width:900px){
    .GameProcessDemo-stroke1 {
        padding: 16px 13px;
    }

    .GameProcessDemo-stroke2 {
        padding: 13px 17px;
    }
}

@media screen and (max-width:800px){
    .GameProcessDemo-stroke1 {
        padding: 12px 10px;
    }

    .GameProcessDemo-stroke2 {
        padding: 10px 10px;
    }

    .GameProcessDemo-title, .GameProcessDemo-title.sub {
        font-size: 20px;
        padding: 30px 10px 5px 10px;
    }

    .GameProcessDemo-text {
        font-size: 20px;
        padding: 0px 10px 30px 10px;
    }
}


@media screen and (max-width:600px){
    .GameProcessDemo-stroke1 {
        padding: 9px 6px;
    }

    .GameProcessDemo-stroke2 {
        padding: 6px 6px;
    }
}

@media screen and (max-width:550px){
    .GameProcessDemo-stroke1 {
        padding: 6px 6px;
    }

    .GameProcessDemo-stroke2 {
        padding: 6px 6px;
    }
}


@media (max-width:500px){
    .GameProcessDemo-title, .GameProcessDemo-title.sub {
        font-size: 16px;
        padding: 20px 10px 5px 10px;
    }

    .GameProcessDemo-text {
        font-size: 16px;
        padding: 0px 10px 20px 10px;
    }



}