.tokens-list {
    margin-top: 30px;
    margin-bottom: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.token-list-switcher {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 92%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.04);
    padding: 11px 23px;
    border-radius: 32px;
}

.token-list-container {
    margin-top: 15px;
    margin: 0 auto;
    max-width: 1400px;
}

.switcher-option-item {
    padding: 11px 25px;
}

.switcher-option-item-button {
    padding: 10px 56px;
    border-radius: 32px;
    transition: 0.3s linear;
}

.switcher-option-item-button:hover {
    cursor: pointer;
}

.switcher-option-item-button.selected {
    background-color: rgba(255, 255, 255, 0.04);
}

.token-item-container {
    display: block;
    text-align: center;
}

.token-item,
.empty-token-item {
    margin: 5px 10px;
    width: 250px;
    height: 417px;
    position: relative;
    overflow: hidden;
    border-radius: 32px;
    background: rgba(255, 255, 255, 0.04);
}

.token-item-image {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.token-item-image img {
    max-width: 100%;
    max-height: 100%;
}

.empty-token-item {
    display: flex;
    justify-content: space-around;
}

.empty-token-icon {
    max-width: 67px;
}

/*----------------*/
.token-item.color1 .token-item-image {
    background-color: #f98be5;
}

.token-item.color2 .token-item-image {
    background-color: #ffff14;
}

.token-item.color3 .token-item-image {
    background-color: #ff14b1;
}

.token-item.color4 .token-item-image {
    background-color: #14ff63;
}

.token-item.color5 .token-item-image {
    background-color: #62c7fe;
}

/*-----------------*/
.token-item-name {
    background: rgba(21, 6, 51, 0.2);
    border-radius: 0 0 12px 12px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 186px;
    height: 36px;
    line-height: 36px;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
}

.token-item-desc {
    display: none;
}

.token-item-buy {
    padding: 15px 15px 0;
}

.token-item-buy .button {
    margin-bottom: 5px;
}

.token-quantity {
    font-weight: 900;
    font-size: 36px;
    position: absolute;
    bottom: 160px;
    left: 180px;
    visibility: hidden;
}

.token-quantity.isVisible {
    visibility: visible;
}

.token-item-amount {
    margin: 0;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #817499;
}

.token-item-comment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.token-item-comment-arrow {
    padding: 10px 0;
}

.token-item-comment-text, .token-item-comment-container span {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 95%;
    /* or 23px */

    text-align: center;
    letter-spacing: 0.02em;

    color: rgba(255, 255, 255, 0.56);
}

.token-item-comment-container span {
    text-transform: uppercase;
    color: white;
}

.token-item-comment-frame {
    padding: 10px;
    left: 95px;
    bottom: 10px;
    position: relative;
}

@media screen and (max-width: 1050px) {
    .token-list-switcher {
        visibility: hidden;
        /*---Спрятал switcher---*/
        display: none;
    }

    .tokens-list {
        margin-bottom: 0;
    }

    .tokens-list {
        margin-bottom: 50px;
        display: block;
    }

    .token-item {
        margin-bottom: 20px;
        width: auto;
        background: rgba(255, 255, 255, 0.04);
        border-radius: 12px;
        overflow: hidden;
        height: auto;
        display: flex;
    }

    .empty-token-item {
        visibility: hidden;
        position: absolute;
    }

    .token-item.color1 .token-item-image,
    .token-item.color2 .token-item-image,
    .token-item.color3 .token-item-image,
    .token-item.color4 .token-item-image,
    .token-item.color5 .token-item-image {
        background: none;
    }

    .token-item-name {
        padding-left: 160px;
        background: rgba(255, 255, 255, 0.04);
        left: 0;
        right: 0;
        border-radius: 0;
        width: auto;
        height: 45px;
        line-height: 45px;
    }

    .token-item-desc {
        display: block;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0;
        text-align: center;
        color: #c2abcb;
        margin: 60px 10px 10px;
    }

    .token-item-image {
        min-width: 160px;
        width: 160px;
        height: auto;
        max-height: 160px;
    }

    .token-item-buy {
        display: none;
    }
}