.header-container {
    max-width: 1200px;
    margin: 0 auto;
    z-index: 1000;
    padding: 32px;
    position: sticky;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-img-container {
    margin-right: 20px;
}

.header-left-container {
    display: flex;
    align-items: center;
}

.header-logo-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header-logo-img {
    display: block;
    width: 60px;
    height: 60px;
    background: url(../../../public/images/header_logo.svg) no-repeat;
    background-size: cover;
}

.header-logo {
    display: block;
    width: 110px;
    height: 18px;
    background: url(../../../public/images/logo.svg) no-repeat;
    background-size: cover;
}

.header-menu {
    display: flex;
    justify-content: center;
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    /*margin: 0 auto;*/
    max-width: fit-content;
}

.header-menu-item {
    font-size: 16px;
    line-height: 130%;
    padding: 0 22px;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.2s;
    color: #ffff14;
    display: block;
}

.header-menu-item:before {
    position: absolute;
    content: "";
    left: -6px;
    top: calc(50% - 6px);
    width: 12px;
    height: 12px;
    background: url(../../../public/images/bull.svg) 0 0 no-repeat;
}

.header-menu-item:first-child:before {
    display: none;
}

.header-menu-item[href] {
    color: #fff;
}

.header-menu-item[href]:hover {
    color: #ffff14;
}

.header-buttons-container {
    display: flex;
}

.header-buttons-container div{
    margin-left: 10px;
}

@media (max-width: 1150px) {
    .header-menu {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        background-color: #2a1752;
        flex-direction: column;
        -ms-overflow-style: none;
        -webkit-scrollbar-width: none;
        scrollbar-width: none;
        overscroll-behavior-y: contain;
        overflow-y: scroll;
        opacity: 0;
        pointer-events: none;
        transform: translateX(-100vw);
        transition: 0.3s;
    }

    .header-menu-trigger {
        width: 30px;
        height: 26px;
        cursor: pointer;
        position: absolute;
        left: 25px;
        top: 45px;
        z-index: 299;
    }

    .header-menu-trigger span {
        display: block;
        position: absolute;
        width: 100%;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        -o-transition: 0.25s;
        transition: 0.25s;
        height: 4px;
        background-color: #fff;
    }

    .header-menu-trigger span:nth-child(2) {
        top: 11px;
        width: 21px;
    }

    .header-menu-trigger span:nth-child(3) {
        top: 22px;
    }

    .show-menu .header-menu-trigger span:nth-child(1) {
        top: 9px;
        transform: rotate(45deg);
    }

    .show-menu .header-menu-trigger span:nth-child(2) {
        width: 0;
        opacity: 0;
    }

    .show-menu .header-menu-trigger span:nth-child(3) {
        top: 9px;
        transform: rotate(-45deg);
        opacity: 1;
    }

    .header-logo {
        margin-left: 50px;
    }

    .header-menu::-webkit-scrollbar {
        display: none;
    }

    .show-menu .header-menu {
        opacity: 1;
        pointer-events: auto;
        transform: translateX(0);

    }

    .header-menu-item {
        font-weight: 600;
        font-size: 36px;
        line-height: 43px;
        margin: 0;
        padding: 3.53vh 0 !important;
    }

    .header-menu-item:before {
        width: 24px;
        height: 24px;
        background-size: 24px auto;
        left: calc(50% - 12px);
        top: -12px;
    }

    .header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header-top {
        width: 100%;
    }
}

@media screen and (max-width: 1050px) {


}

@media screen and (max-width: 800px) {
    .header-top {
        padding: 10px;
    }

    /*.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}*/
    .languages-menu {
        margin-right: 0;

    }

    .header-contract {
        display: none;
    }

    .header-menu-trigger {
        top: 39px;
    }

    .header-logo {
        margin-left: 40px;
    }
}
