.GameplayDescription-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 150px 10px;
}

.GameplayDescription-container .title {
    font-family: 'Georama', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 115px;
    padding: 0px 5px 45px 5px;
    letter-spacing: 0.02em;
}

.GameplayDescription-title-span {
    background-image: url(../../../public/images/GameplayBackground.svg);
    width: 710px;
    height: 150px;
    background-repeat: no-repeat;
    position: relative;
    top: 110px;
    z-index: -1000;
}

.GameplayDescription-part1, .GameplayDescription-part2 {
    display: flex;
    max-width: 1265px;
}

.GameplayDescription-part2 {
    margin-top: 20px;
    justify-content: center;
}

.GameplayDescription-box, .GameplayDescription-box.full {
    margin: 0 10px;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 60px;
    padding: 20px 40px;
    width: 50%;
}

.GameplayDescription-box.full {
    width: 100%;
}

.GameplayDescription-box-title {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.02em;
    padding: 10px 0;
}

.GameplayDescription-text-container {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.GameplayDescription-text {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 135.4%;
    /* or 35px */

    letter-spacing: 0.02em;
}

.GameplayDescription-text span {
    color: #FFDD14;
}

.GameplayDescription-text-container svg {
    /*padding: 5px;*/
    padding-right: 10px;
    min-width: 30px;
}

@media (max-width: 1050px) {
    .GameplayDescription-part1 {
        align-items: center;
        flex-direction: column;
    }

    .GameplayDescription-box, .GameplayDescription-box.full {
        max-width: 900px;
        width: 80%;
    }

    .GameplayDescription-box:nth-child(2) {
        margin-top: 20px;
    }
}

@media (max-width: 800px) {
    .GameplayDescription-container .title {
        font-size: 80px;
    }

    .GameplayDescription-title-span {
        zoom: 0.8;
    }

    .GameplayDescription-box-title {
        font-size: 20px;
    }

    .GameplayDescription-text {
        font-size: 20px;
    }
}

@media (max-width: 650px) {
    .GameplayDescription-container .title {
        font-size: 65px;
    }

    .GameplayDescription-title-span {
        zoom: 0.65;
    }

    .GameplayDescription-title-span {
        top: 125px;
    }
}

@media (max-width: 500px) {
    .GameplayDescription-container .title {
        font-size: 50px;
    }

    .GameplayDescription-title-span {
        zoom: 0.5;
    }

    .GameplayDescription-title-span {
        top: 155px;
    }

    .GameplayDescription-box, .GameplayDescription-box.full {
        padding: 15px 20px;
    }

    .GameplayDescription-box-title {
        font-size: 18px;
    }

    .GameplayDescription-text {
        font-size: 18px;
    }
}

@media (max-width: 400px) {
    .GameplayDescription-container .title {
        font-size: 40px;
    }

    .GameplayDescription-title-span {
        zoom: 0.4;
    }

    .GameplayDescription-title-span {
        top: 170px;
    }

    .GameplayDescription-box-title {
        font-size: 16px;
    }

    .GameplayDescription-text {
        font-size: 16px;
    }
}